

.main {
    width: 35%;
    height: 35%;
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 25px;
}

.button {
    margin-top: 45px;
    padding: 15px;
    float: left;
    margin-left: 25px;
}

.text {
    width: 13%;
    padding: 10px;
    border: 1px solid #000000;
    margin-left: 25px;
    margin-top: 45px;
    float: left;
}